.register {
    background: #fff;
    padding: 30px 0
}

.register .registar-header {
    align-items: center;
    display: flex;
    font-family: SamsungSharpSans, arial, sans-serif;
    font-size: 40px;
    height: 85px;
    justify-content: center;
    margin: 0 auto;
    max-width: 864px;
    text-align: center;
    width: fit-content;
    width: calc(100% - 30px)
}

.register .container {
    background: #fff;
    border-radius: 30px;
    filter: drop-shadow(0 0 6px #00000040);
    margin: 0 auto;
    max-width: 864px;
    padding: 40px 15px 0;
    width: calc(100% - 30px) !important
}

.register .container .registar-description {
    color: #000;
    font-size: 16px;
    margin-bottom: 4%;
    text-align: center
}

.register .container .form-note {
    margin: 10px 0 20px
}

.register .container .form-header {
    margin: 10px 0 20px;
    display: flex;
    padding: 0;
    font-size:30px;
    font-family: SamsungSharpSans, arial, sans-serif;
    width: 100%;
}

.register .container .prod-infos-wrapper {
    width: 100%;
}

.register .container .prod-header {
    font-size: 24px;
    font-family: SamsungSharpSans, arial, sans-serif;
    margin-bottom: 10px;
}

.register .container .cta--addmore {
    margin-bottom: 10px;
}

.register #register-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 640px;
    padding-bottom: 50px
}

.register #register-form .form-submit-row {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%
}

.register #register-form .form-submit-row.form-submit-row--select {
    margin-bottom: 0
}

.register #register-form .form-submit-row--mb-15 {
    margin-bottom: 10px
}

.register #register-form .form-submit-row--mt-15 {
    margin-top: 15px
}

.register #register-form .form-submit-row__two-col .form-submit__group {
    width: calc(50% - 10px)
}

.register #register-form .form-submit__group {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.register #register-form .form-submit__group .form-submit__error {
    height: 0;
    opacity: 0;
    position: relative;
    transform: translateY(-10px);
    transition: 1s
}

.register #register-form .form-submit__group .form-submit__error span:before {
    align-items: center;
    background: red;
    border-radius: 2px;
    color: #fff;
    content: "!";
    display: inline-flex;
    font-size: .9em;
    height: .8em;
    justify-content: center;
    margin-right: 5px;
    padding: .1em;
    position: relative;
    text-align: center;
    width: .8em
}

.register #register-form .form-submit__group.has-error .form-submit__error {
    color: #ff5656;
    display: block !important;
    height: auto;
    opacity: 1 !important;
    padding-top: 15px;
    transform: translateY(0) !important
}

.register #register-form .form-submit__group.has-error.form-submit__group100 .form-submit__error {
    margin-bottom: 15px;
    padding-top: 10px
}

.register #register-form .form-submit__group.has-error .form-submit__input {
    border-bottom-color: red
}

.register #register-form .form-submit__input {
    border-bottom: 1px solid #c9c9c9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%
}

.register #register-form .form-submit__input .text-wrapper,
.register #register-form .form-submit__input input {
    height: 44px;
    position: relative
}

.register #register-form .form-submit__input input {
    border: none;
    flex: 1
}

.register #register-form .form-submit__input input:focus {
    box-shadow: none;
    outline: none
}

.register #register-form .form-submit__input .text-wrapper {
    align-items: center;
    display: inline-flex;
    margin-right: 10px;
    white-space: nowrap
}

.register #register-form .form-submit__input .text-wrapper label.label {
    font-size: 20px;
    line-height: 1
}

.register #register-form .form-submit__input .text-wrapper label.label[data-required]:after {
    color: red;
    content: "*";
    display: inline;
    margin-left: 5px
}

.register #register-form .form-submit__input input[type=date],
.register #register-form .form-submit__input input[type=tel],
.register #register-form .form-submit__input input[type=text] {
    background: transparent;
    border: none;
    border-radius: 0;
    flex: 1;
    font-family: SamsungOne, Arial;
    font-size: 18px;
    padding: 0;
    position: relative
}

.register #register-form .form-submit__input input[type=date]:focus,
.register #register-form .form-submit__input input[type=date]:hover,
.register #register-form .form-submit__input input[type=tel]:focus,
.register #register-form .form-submit__input input[type=tel]:hover,
.register #register-form .form-submit__input input[type=text]:focus,
.register #register-form .form-submit__input input[type=text]:hover {
    box-shadow: none;
    outline: none
}

.register #register-form .form-submit__input input[type=checkbox] {
    border: 0;
    box-shadow: none;
    height: 0;
    outline: none;
    position: absolute;
    top: 50%;
    width: 0;
    z-index: -1
}

.register #register-form .form-submit__input input[type=checkbox]:before {
    border: 1px solid #000;
    border-radius: 3px;
    content: "";
    display: block;
    height: 17px;
    left: 0;
    position: absolute;
    top: -12px;
    width: 17px
}

.register #register-form .form-submit__input input[type=checkbox]:checked:after {
    border-bottom: .2em solid #000;
    border-left: .2em solid #000;
    border-right-color: #000;
    border-top-color: #000;
    color: #fff;
    content: "";
    display: block;
    height: 4px;
    left: 1.6px;
    opacity: 1;
    position: absolute;
    top: 7px;
    transform: rotate(-45deg) translate(11px, -9px);
    width: 10px;
    z-index: 3
}

.register #register-form .form-submit__input input[type=checkbox]+label {
    display: block;
    font-size: 15px !important;
    padding-left: 30px;
    white-space: normal
}

.register #register-form .form-submit__input.form-submit--confirm {
    border-bottom: 0 !important;
    display: flex;
    flex-direction: column
}

.register #register-form .form-submit__input .confirm--line {
    position: relative;
    z-index: 2
}

.register #register-form .form-submit-row__note {
    font-size: 16px;
    margin-top: 30px;
    position: relative;
    text-align: center
}

.register #register-form .form-submit-row__note p {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 90%;
    z-index: 2
}

.register #register-form .form-submit-row__note--bg {
    background: -webkit-linear-gradient(top, #f6f6f6, #fff);
    margin: 0;
    padding: 3em 0
}

.register #register-form .form-submit-row__note--bg:after,
.register #register-form .form-submit-row__note--bg:before {
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    top: 0;
    width: 50%
}

.register #register-form .form-submit-row__note--bg:before {
    background: -webkit-linear-gradient(left bottom, #fff, #f6f6f6);
    left: 0
}

.register #register-form .form-submit-row__note--bg:after {
    background: -webkit-linear-gradient(right bottom, #fff, #f6f6f6);
    right: 0
}

.register #register-form .btn-spin {
    margin: 0 auto
}

.register #register-form .btn-spin .btn-loading-text,
.register #register-form .btn-spin .btn-spin-icon,
.register #register-form .btn-spin .btn-spin-icon:before {
    display: none
}

.register #register-form .btn-spin .btn-spin-icon {
    transition: all .3s cubic-bezier(.645, .045, .355, 1)
}

.register #register-form .btn-spin.loading .btn-spin-text {
    display: none
}

.register #register-form .btn-spin.loading .btn-loading-text {
    display: block
}

.register #register-form .btn-spin.loading .btn-spin-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    justify-self: center;
    z-index: 1
}

.register #register-form .btn-spin.loading .btn-spin-icon .anticon-spin {
    -webkit-animation: loadingCircle 1s linear infinite;
    animation: loadingCircle 1s linear infinite;
    display: inline-block
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: inset 0 0 0 30px #fff !important;
    box-shadow: inset 0 0 0 30px #fff !important
}



.popup-success {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 10
}

.popup-success .dimmer {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.popup-success .popup--container {
    left: 50%;
    margin: 0;
    max-height: 100vh;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3
}

.popup-success .popup--container .close-button {
    display: block;
    height: 64px;
    position: absolute;
    right: 0;
    transform: translate3d(0, -110px, 0);
    width: 64px
}

.popup-success .popup--container .close-button:after,
.popup-success .popup--container .close-button:before {
    background: #fff;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%
}

.popup-success .popup--container .close-button:before {
    transform: rotate(45deg)
}

.popup-success .popup--container .close-button:after {
    transform: rotate(-45deg)
}

.popup-success .popup--container h2.popup-title {
    display: inline-flex;
    font-family: SamsungSharpSans, arial, sans-serif;
    font-size: 48px;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    width: 100%
}

.popup-success .popup--container .popup-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center
}

.popup-success .popup--ct {
    background: #fff;
    border-radius: 20px;
    color: #000;
    left: 50%;
    max-height: 90vh;
    max-width: 860px;
    padding: 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -53%);
    width: calc(100% - 30px)
}

.swal2-styled.swal2-confirm {
    background: #000 !important;
    border-radius: 100px !important;
    font-size: 14px !important;
    padding: 10px 24px 11px !important
}

.swal2-styled.swal2-confirm:focus {
    background: #555 !important;
    box-shadow: 0 0 0 2px #fff !important;
    outline: 2px dotted #000 !important
}

.swal2-styled.swal2-confirm:hover {
    background-color: #555 !important;
    color: #eee !important
}

@media screen and (max-width:768px) {
    .register .registar-header {
        font-size: 24px
    }

    .popup-success .popup--container h2.popup-title {
        font-size: 32px !important;
    }
}

@media screen and (max-width:500px) {
    .register #register-form .form-submit-row.form-submit-row__two-col {
        flex-direction: column
    }

    .register #register-form .form-submit-row.form-submit-row__two-col .form-submit__group {
        width: 100% !important
    }

    .register #register-form .form-submit-row.form-submit-row__two-col .form-submit__group:first-child {
        margin-bottom: 30px;
    }
}

@media screen and (max-width:576px) {
    .register .container .registar-description {
        font-size: 11px
    }
}

@keyframes loadingCircle {
    to {
        transform: rotate(1turn)
    }
}