.register {
    background: #fff;
    padding: 30px 0;

    .registar-header {
        align-items: center;
        display: flex;
        font-family: SamsungSharpSans, arial, sans-serif;
        font-size: 40px;
        height: 85px;
        justify-content: center;
        margin: 0 auto;
        max-width: 864px;
        text-align: center;
        width: fit-content;
        width: calc(100% - 30px)
    }

    .container {
        background: #fff;
        border-radius: 30px;
        filter: drop-shadow(0 0 6px #00000040);
        margin: 0 auto;
        max-width: 864px;
        padding: 25px 40px 0;
        width: calc(100% - 30px) !important;

        .registar-description {
            color: #000;
            font-size: 16px;
            margin-bottom: 4%;
            text-align: center
        }

        .form-note {
            margin: 0 0 20px
        }

        .form-header {
            margin: 0 0 15px;
            display: flex;
            padding: 0;
            font-size: 25px;
            font-family: SamsungSharpSans, arial, sans-serif;
            width: 100%;
        }

        .prod-infos-wrapper {
            width: 100%;

            .prod-info {
                margin-bottom: 25px;
            }
        }

        .prod-header {
            font-size: 20px;
            font-family: SamsungSharpSans, arial, sans-serif;
            margin-bottom: 10px;
        }

        .cta--addmore {
            margin-bottom: 10px;
            font-family: SamsungSharpSans, arial, sans-serif;
            font-size: 15px;
            padding: 0.5em;
            border: 1px solid #000;
            border-radius: 5rem;
            line-height: 1em;
            color: #000;
            display: inline-block;
        }
    }

    #register-form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 640px;
        padding-bottom: 40px;

        .form-submit-row {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &.form-submit-row--select {
                margin-bottom: 0
            }

            &--mb-15 {
                margin-bottom: 10px
            }

            &--mt-15 {
                margin-top: 15px
            }

            &__two-col {
                .form-submit__group {
                    width: calc(50% - 10px)
                }
            }
        }

        .form-submit__group {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-bottom: 15px;

            &.form-submit__group--confirm {
                margin-bottom: 15;
            }

            .form-submit__error {
                height: 0;
                opacity: 0;
                position: relative;
                transform: translateY(-10px);
                transition: 1s
            }

            .form-submit__note {
                margin-top: 15px;
            }

            .form-submit__error span:before {
                align-items: center;
                background: red;
                border-radius: 2px;
                color: #fff;
                content: "!";
                display: inline-flex;
                font-size: .9em;
                height: .8em;
                justify-content: center;
                margin-right: 5px;
                padding: .1em;
                position: relative;
                text-align: center;
                width: .8em
            }

            &.has-error {
                margin-bottom: 0;

                .form-submit__error {
                    color: #ff5656;
                    display: block !important;
                    height: auto;
                    opacity: 1 !important;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    transform: translateY(0) !important
                }

                .form-submit__note {
                    margin-top: 0;
                    margin-bottom: 15px;
                }

                &.form-submit__confirm {

                    .form-submit__error {
                        margin-bottom: 15px;
                        padding-top: 10px
                    }
                }

                .form-submit__input {
                    border-bottom-color: red
                }
            }
        }

        .form-submit__input {
            border-bottom: 1px solid #c9c9c9;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 100%;

            .text-wrapper,
            input {
                height: 44px;
                position: relative;
            }

            input {
                border: none;
                flex: 1;

                &:focus {
                    box-shadow: none;
                    outline: none
                }
                &[type=date],
                &[type=tel],
                &[type=text],
                &[type=number] {
                    background: transparent;
                    border: none;
                    border-radius: 0;
                    flex: 1;
                    font-family: SamsungOne, Arial;
                    font-size: 18px;
                    padding: 0;
                    position: relative;

                    &:hover,
                    &:focus {
                        box-shadow: none;
                        outline: none
                    }
                }

                &[type=checkbox] {
                    border: 0;
                    box-shadow: none;
                    height: 0;
                    outline: none;
                    position: absolute;
                    top: 50%;
                    width: 0;
                    z-index: -1;

                    &:before {
                        border: 1px solid #000;
                        border-radius: 3px;
                        content: "";
                        display: block;
                        height: 17px;
                        left: 0;
                        position: absolute;
                        top: -10px;
                        width: 17px
                    }

                    &:checked:after {
                        border-bottom: .2em solid #000;
                        border-left: .2em solid #000;
                        border-right-color: #000;
                        border-top-color: #000;
                        color: #fff;
                        content: "";
                        display: block;
                        height: 4px;
                        left: 1.6px;
                        opacity: 1;
                        position: absolute;
                        top: 10px;
                        transform: rotate(-45deg) translate(11px, -9px);
                        width: 10px;
                        z-index: 3
                    }

                    &+label {
                        display: block;
                        font-size: 15px !important;
                        padding-left: 30px;
                        white-space: normal
                    }
                }
            }

            &.form-submit--confirm {
                border-bottom: 0 !important;
                display: flex;
                flex-direction: column
            }

            .confirm--line {
                position: relative;
                z-index: 2
            }

            .text-wrapper {
                align-items: center;
                display: inline-flex;
                margin-right: 10px;
                white-space: nowrap;

                label.label {
                    font-size: 20px;
                    line-height: 1
                }

                label.label[data-required]:after {
                    color: red;
                    content: "*";
                    display: inline;
                    margin-left: 5px
                }
            }
        }

        .form-submit-row__note {
            font-size: 16px;
            margin-top: 30px;
            position: relative;
            text-align: center;

            p {
                height: 100%;
                margin: 0 auto;
                padding: 0;
                position: relative;
                text-align: center;
                width: 90%;
                z-index: 2
            }
        }

        .form-submit-row__note--bg {
            background: -webkit-linear-gradient(top, #f6f6f6, #fff);
            margin: 0;
            padding: 3em 0;

            &:before,
            &:after {
                content: "";
                display: block;
                height: 50%;
                position: absolute;
                top: 0;
                width: 50%
            }

            &:before {
                background: -webkit-linear-gradient(left bottom, #fff, #f6f6f6);
                left: 0
            }

            &:after {
                background: -webkit-linear-gradient(right bottom, #fff, #f6f6f6);
                right: 0
            }
        }

        .btn-spin {
            margin: 0 auto;

            .btn-loading-text,
            .btn-spin-icon,
            .btn-spin-icon:before {
                display: none
            }

            .btn-spin-icon {
                transition: all .3s cubic-bezier(.645, .045, .355, 1)
            }

            &.loading {
                .btn-spin-text {
                    display: none
                }

                .btn-loading-text {
                    display: block
                }

                .btn-spin-icon {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: flex;
                    justify-self: center;
                    z-index: 1;

                    .anticon-spin {
                        -webkit-animation: loadingCircle 1s linear infinite;
                        animation: loadingCircle 1s linear infinite;
                        display: inline-block
                    }
                }
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: inset 0 0 0 30px #fff !important;
    box-shadow: inset 0 0 0 30px #fff !important
}

.popup-success {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 10;

    .dimmer {
        background: rgba(0, 0, 0, .6);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2
    }

    .popup--container {
        left: 50%;
        margin: 0;
        max-height: 100vh;
        padding: 0;
        position: relative;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        .close-button {
            display: block;
            height: 64px;
            position: absolute;
            right: 0;
            transform: translate3d(0, -110px, 0);
            width: 64px;

            &:after,
            &:before {
                background: #fff;
                border-radius: 3px;
                content: "";
                display: block;
                height: 3px;
                left: 0;
                position: absolute;
                top: calc(50% - 1px);
                width: 100%
            }

            &:before {
                transform: rotate(45deg)
            }

            &:after {
                transform: rotate(-45deg)
            }
        }

        h2.popup-title {
            display: inline-flex;
            font-family: SamsungSharpSans, arial, sans-serif;
            font-size: 48px;
            justify-content: center;
            margin-bottom: 20px;
            text-align: center;
            width: 100%
        }

        .popup-content {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 30px;
            text-align: center
        }

        .popup--ct {
            background: #fff;
            border-radius: 20px;
            color: #000;
            left: 50%;
            max-height: 90vh;
            max-width: 860px;
            padding: 50px;
            position: fixed;
            top: 50%;
            transform: translate(-50%, -53%);
            width: calc(100% - 30px)
        }
    }
}

.swal2-styled.swal2-confirm {
    background: #000 !important;
    border-radius: 100px !important;
    font-size: 14px !important;
    padding: 10px 24px 11px !important
}

.swal2-styled.swal2-confirm:focus {
    background: #555 !important;
    box-shadow: 0 0 0 2px #fff !important;
    outline: 2px dotted #000 !important
}

.swal2-styled.swal2-confirm:hover {
    background-color: #555 !important;
    color: #eee !important
}

body.showPU {
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .register {
        .container {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        // .registar-header {
        //     font-size: 24px
        // }
    }

    .popup-success {
        .popup--container h2.popup-title {
            font-size: 32px !important;
        }
    }
}

@media screen and (max-width:500px) {
    .register {
        #register-form {
            .form-submit-row{
                &.form-submit-row__two-col {
                    flex-direction: column;

                    .form-submit__group {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    .register {
        .container {
            .registar-description {
                font-size: 11px
            }
        }
    }
}

@keyframes loadingCircle {
    to {
        transform: rotate(1turn)
    }
}

